<div>
    <h1 class="text-center h1">Posts</h1>

    <div class="align-self-center">
        {{#each blogPost}}
            <ol>
                <li>{{this.title}}</li>
                <li>{{this.body}}</li>
            </ol>
        {{/each}}
    </div>
</div>
