<h1 class="h1 p-3 text-center"> UPDATE POST </h1>

    <form method="POST" action="/update" class="align-self-center" id=frm style="width:50%" >

       

    <div class="form-group col-lg-10">
        <label class="control-label" for="eml"> EMAIL </label><br>
        <input name="email" id="eml" type="email" class="form-control"><br>
    </div>

    <div class="form-group col-lg-10">
        <label class="control-label " for="title"> TITLE </label><br>
        <input name="title" id="title" type="text" class="form-control"><br>
    </div>

    <div class="form-group col-lg-10">
        <label class="control-label" for="bdy"> UPDATE BODY </label><br>
        <textarea class="form-control" rows="5" id="bdy" name="body"></textarea><br>
    </div><br>

    <div class="form-group col-lg-10" >
            <label class="control-label" for="nam"> Security Key </label><br>
            <input name="securityKey" id="nam" type="text" class="form-control"><br>
        </div>

    <div class="form-group col-lg-10" >
        <label>
            <button type="submit" class="btn btn-primary">SUBMIT</button><br>
        </label>
    
</div>

    </form>